@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Header part start */
.top-manu{
    display: flex;
    justify-content: space-between;
    margin: 95px 120px 80px 120px;
    box-sizing: border-box;
    align-items: center;
}
.top-manu .logo a{
    font-size: 24px;
    font-weight: 700;
}
.top-manu .manu a{
    position: relative;
    font-size: 16px;
    padding: 0px 10px;
    letter-spacing: 0.5px; 
}
.top-manu .manu a::after{
    content: "";
    position: absolute;
    background-color: #E02C6D;
    height: 2.5px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.top-manu .manu a:hover:after {
    width: 100%;
}
.top-manu a{
    text-decoration: none;
    color: black; 
}
.top-manu a:hover{
    color: #E02C6D;
}
.barrer{
    display: flex;
    margin: 0 120px 69px 120px;
    justify-content: space-evenly;
    align-items: center;
}
.influencher{
    height: 270px;
    width: 583px;
}
.influencher h1 {
    font-size: 52px;
    font-weight: 700;
}
.influencher-button a{
    text-decoration: none;
    color: #E02C6D;
    padding: 10px 22px;
    border: 2px solid #E02C6D;
    border-radius: 50px;
    transition: .8s;
    margin-top: 16px;
}
.influencher-button a:hover{
    background-color: #E02C6D;
    color: #ffffff;
}
.influencher-img img{
    height: 414px;
    width: 440px;
}
/* Header part end */


/* popular collection path start */

.popular{
    box-sizing: border-box;
    margin-left: 196px;
    margin-right: 196px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    justify-content: center;
}
.popular-tital{
    text-align: center;
    margin: 100px auto 38px auto;
}
.collection{
    border-radius: 10px;
    
    height: 476px;
    width: 329px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 5px 5px 50px rgb(129, 129, 129);
    margin: 0 10px;
}
.collection-img img{
    width: 300px;
    height: 256px;
    padding: 14px 14px 0 14px;
}
.collection:hover img{
    transform: scale(1.1);
    transition: transform 1s ease-out ;
}
.collection-description{
    padding-left: 16px;
}
.collection-description .name{
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
}
.collection-description .price {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.collection-description .rating{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    height: 17px;
}
.collection-description .rating i{
    padding-right: 8px;
    color: rgb(236, 173, 14);
    height: 16px;
    width: 16px;
}
.collection-description .rating h4{
    font-size: 16px;
    margin-left: 25px;
    color: #787885;
}
.collection-description .details{
    line-height: 8px;
}
.collection-description .details p{
    font-size: 14px;
    color: #787885;
    letter-spacing: .8px;
}
.footer-button{
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-right: 10%;
}
.footer-button a{
    text-decoration: none;
    font-size: 16px;
    color: #E02C6D;
    font-weight: bold;
}
/* popular collection path end */

/* More info part start */

.more-info{
    display: flex;
    justify-content: space-between;
    margin: 100px 165px 100px 165px;
    align-items: center;

}
.more-info .photo{
    margin-right: 96px;
}
.more-info .photo img{
    width: 404px;
    height: 270px;
    
}
.more-info:hover .photo img{
    transform: scale(1.1);
    transition: transform 1s ease;
}
.more-info .more-det h1{
font-size: 38px;
font-weight: bold;
margin-top: 0px;
}



/* More info part end */



/* footer part */

footer{
    height: 240px;
    background-color: #0A0826;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer .about{
    color: #ffffff;
    height: 139px;
    width: 262px;
}
footer .about .deta{
    text-align: center;
}
footer .about .deta h2{
    font-size: 24px;
    margin-top: 0px;
}
footer .about .deta p {
    font-size: 14px;
}

footer .about .icon{
    text-align: center;
}
footer .about .icon a{
    text-decoration: none;
    color: #ffffff;
}
footer .about .icon i{
    height: 32px;
    width: 32px;
}
footer .about .icon i:hover{
    transform: scale(1.2);
    transition: transform .5s ease;
    color: #E02C6D;
}
/* footer part end  */

/* Media query part  */

/* For mobile devices */

@media only screen and (max-width: 767px) {
    .top-manu{
        display: block;
        margin: 35px 99px;
    }
    .top-manu .logo{
        text-align: center;
    }
    .top-manu .manu{
        text-align: center;
        
    }
    .top-manu .manu a{
        display: block;
    }
    .barrer{
        box-sizing: border-box;
        display: block;
        width: 90%;
        margin-left: 52px;
        margin-right: 52px;
    }
    .barrer .influencher{
        text-align: center;
        width: 80%;
        height: auto;  
    }
    .barrer .influencher h1{
        font-size: 28px;
    }
    .barrer .influencher p {
        font-size: 14px;
    }
    .barrer .influencher-img{
        width: 80%;
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .barrer .influencher-img img{
        width: 70%;
        height: auto;
    }
    .popular{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-button{
        margin-right: 50px;
    }
    .more-info{
        display: block;
        margin-left: 52px;
        margin-right: 52px;
        width: 90%;
        height: auto;
    }
    .more-info .photo{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .more-info .photo img{
        width: 70%;
        height: auto;
    }
    .more-det{
        margin-top: 30px;
        width: 80%;
        text-align: center;
    }
    footer{
        width: 100%;
    }
}


/* For tab */
@media only screen and (min-width:768px) and (max-width:1028px){
    .top-manu {
        display: block;
        margin: 35px 99px;
    }

    .top-manu .logo {
        text-align: center;
    }

    .top-manu .manu {
        text-align: center;
    }
    .barrer {
        box-sizing: border-box;
        display: block;
        width: 100%;
        margin-left: 52px;
        margin-right: 52px;
    }

    .barrer .influencher {
        text-align: center;
        width: 80%;
        height: auto;
    }
    

    .barrer .influencher-img img {
        width: 70%;
        height: auto;
    }
    .popular {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    .collection{
        margin: 0 10px;
    }
    .footer-button {
        margin-right: 70px;
    }
    .more-info {
        display: block;
        width: 100%;
        margin-left: 2px;
        margin-right: 52px;
        
    }

    .more-info .photo {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .more-info .photo img{
        width: 70%;
        height: auto;
    }
    .more-det {
        margin-top: 30px;
        width: 80%;
        text-align: center;
    }

    footer {
        width: 100%;
    }
}
